### Collect data from goodreads.com:

In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import re
import urllib
import time

In [2]:
p1 = 'https://www.goodreads.com/list/show/11.Best_Crime_Mystery_Books?page='
page_id = [str(n) for n in range(1,51)]

In [3]:
books_all = []  ## Store names of all the books from all the pages
meta_ratings = [] ## Store ratings for all the books
meta_votes = []  ## Store users' votes for all the books

for i in page_id:
    link = p1+i
    print ('page'+str(i))
    
    page = urllib.request.urlopen(url = link)
    soup = bs(page, 'lxml')
    time.sleep(2)

    ## Get book title:
    book_titles = []
    title = soup.find_all(name = 'a', class_ = 'bookTitle')
    for t in title:
        book_titles.append(t.span.text)
  
    ## Get metadata-1:
    metadata_ratings = []
    metadata = soup.find_all(name = 'span', class_ = 'minirating')
    for meta in metadata:
        metadata_ratings.append(meta.text.strip())

    ## Get metadata-2:
    metadata_score = []
    metadata_votes = []
    metadata_2 = soup.find_all(name = 'span', class_ = 'smallText uitext')
    for meta in metadata_2:
        temp = meta.text.strip('\n')
        score = temp.split('\n')[0]
        metadata_score.append(score)

        num_votes = temp.split('\n')[2]
        metadata_votes.append(num_votes)        
    
    books_all.extend(book_titles)
    meta_ratings.extend(metadata_ratings)
    meta_votes.extend(metadata_votes)

page1
page2
page3
page4
page5
page6
page7
page8
page9
page10
page11
page12
page13
page14
page15
page16
page17
page18
page19
page20
page21
page22
page23
page24
page25
page26
page27
page28
page29
page30
page31
page32
page33
page34
page35
page36
page37
page38
page39
page40
page41
page42
page43
page44
page45
page46
page47
page48
page49
page50

In [4]:
print ('Total books getched:', len(books_all))
print ('Total ratings fetched:', len(meta_ratings))
print ('Total votes fetched:', len(meta_votes))

Total books getched: 5000
Total ratings fetched: 5000
Total votes fetched: 5000

### Data Post-processing:
#### Extract and clean meta-data

In [5]:
## For ratings:
avg_ratings = []
total_ratings = []

for rat in meta_ratings:
    avg_ratings.append(re.findall('([0-9]+[.]+[0-9]+)', rat))
    total_ratings.append(rat.split(' ')[-2])

In [6]:
## For votes:
total_votes = []

for vote in meta_votes:
    total_votes.append(vote.split(' ')[0])

In [7]:
books_df = pd.DataFrame({'Books': books_all, 'Avg_Rating': avg_ratings, 
                          'Total_Num_Ratings': total_ratings, 'Total_Num_Votes': total_votes})

books_df.head()

,Avg_Rating,Books,Total_Num_Ratings,Total_Num_Votes
0,[4.12],"The Girl with the Dragon Tattoo (Millennium, #1)","2,028,253","2,818"
1,[4.24],And Then There Were None,"500,620","2,077"
2,[3.86],"Angels & Demons (Robert Langdon, #1)","2,166,178","1,334"
3,[4.21],Rebecca,"342,140",939
4,[4.05],In Cold Blood,"416,759",765

In [8]:
books_df.shape

(5000, 4)

In [9]:
books_df.to_csv('books_df.csv', index=False)